:root {
    --cor-primaria: #ffff00;
    --cor-secundaria:#662549;
    --cor-terciaria: #AE445A;
    --cor-quaternaria:#d8d2f9;
    --cor-fundo: #c3c3f3;
    --margem-paragrafos: 20px;
}

html {
    scroll-behavior: smooth; /* comportamento-da-rolagem: suave */
}
body {
  margin: var(--margem-paragrafos);
    text-align: justify;
    background:var(--cor-fundo);
}

.titulo-de-pagina {
    color: var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
}
   .titulo-do-artigo {
   color:var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif;
   }

.titulo-de-secao {
    color: var(--cor-secundaria);
    line-height: 1.8;
    font-size: 18pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo-de-artigo {
    color:var(--cor-terciaria);
    line-height: 2.0;
    font-size: 20pt;
    font-weight: bolder;
    font-style: italic;
    margin: 10px
}

p {
    line-height: 1.2;
    color: 164B60;
}

.paragrafo-de-artigo {
    background:var(--cor-primaria);
    padding: 20px 20px 10px 20px;
    color: var(--cor-terciaria);
    text-align: center;
}
p ~ .paragrafo-de-artigo {
    padding-top: 0;
}

article {
    border: 10px dotted#0a0a0a;
    padding: 30px;
    margin: 30px 0;
    border-radius: 20px 0 20px;
} 
.menu-principal ul {
    background-color:var(--cor-fundo);
    list-style-type: georgian;
}

.menu-principal li {
    color: var(--cor-fundo);
}

.menu-principal a {
    color: var(--cor-primaria)
}

(--!--espaço descentente, > filhos, + irmão adjacente. ~irmãos--)